<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.3.1" targetFramework="net40-Client" />
  <package id="EntityFramework.Sample" version="4.1" targetFramework="net40-Client" />
  <package id="LinqKit" version="1.0" targetFramework="net40-Client" />
  <package id="System.Data.SQLite" version="1.0.81.0" targetFramework="net40-Client" />
</packages>